<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>84 Digital | Descubra o poder das redes sociais</title>

    <%= stylesheet_link_tag "site" %>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-j8y0ITrvFafF4EkV1mPW0BKm6dp3c+J9Fky22Man50Ofxo2wNe5pT1oZejDH9/Dt" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>

    <%= javascript_include_tag "site" %>
  </head>

  <body style="background: #252525 url(<%= image_path 'body-shape.png' %>) no-repeat top center">
    <%= partial "partials/header" %>
    <div class="wrap">
      <%= yield %>
    </div>
    <footer class="footer"></footer>
  </body>
</html>
